### PUNTOS 1 a 8

1. Generar un DataFrame con los datos de los cuatro ﬁcheros.

In [80]:
import pandas as pd

# Importamos dataset
df_2016 = pd.read_csv('DataFrames/emisiones-2016.csv', sep=';')
df_2017 = pd.read_csv('DataFrames/emisiones-2017.csv', sep=';')
df_2018 = pd.read_csv('DataFrames/emisiones-2018.csv', sep=';')
df_2019 = pd.read_csv('DataFrames/emisiones-2019.csv', sep=';')

dfs = [df_2016,
       df_2017,
       df_2018,
       df_2019]

# Ignoro index, dado que al concatenar datasets mantendrán su indice sino no lo modifico.
dfPrincipal = pd.concat(dfs, ignore_index=True)
dfPrincipal

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7261,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
7262,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
7263,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
7264,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
7265,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

2. Filtrar columnas por Estación, Magnitud,Año,Mes,D01,D02,etc.

In [81]:

# Guardo nombre de columnas en una Lista para poder pasar más facil los valores a .loc
columnasFiltradas = ["ESTACION","MAGNITUD","ANO","MES","D01","D02","D03","D04","D05","D06","D07","D08",
                    "D09","D10","D11","D12","D13","D14","D15","D16","D17","D18","D19","D20","D21","D22",
                    "D23","D24","D25","D26","D27","D28","D29","D30","D31"]

# .loc[filas que quiero, columnas que quiero]
# ":" -> Me toma TODAS las filas

dfFiltrado = dfPrincipal.loc[:,columnasFiltradas]
dfFiltrado

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7261,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
7262,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
7263,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
7264,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
7265,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.

In [82]:
dias = ["D01","D02","D03","D04","D05","D06","D07","D08",
        "D09","D10","D11","D12","D13","D14","D15","D16","D17","D18","D19","D20",
        "D21","D22","D23","D24","D25","D26","D27","D28","D29","D30","D31"]

columnasNecesarias = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'PUNTO_MUESTREO','MAGNITUD','ANO','MES']


# .copy(): crea un DataFrame nuevo que no este linkeado al que se le pasa.
# Ver "5-Listas.pdf Seccion - 6. Copia de Listas"
dfValuesPerDay = pd.DataFrame.copy(dfPrincipal)


'''
melt()
id_vars     ->  Columnas que vas a tomar y no queres que se modifiquen.
var_name    ->  Nombre de la nueva columna que queres.
value_name  ->  Nombre de la nueva columna del valor que esta asociada a var_name.
value_vars  ->  Vincula las columnas con var_name y los valores con value_name.
'''

dfValuesPerDay = dfValuesPerDay.melt(id_vars = columnasNecesarias, 
                                     value_vars=dias, var_name='DIA',
                                     value_name = 'VALOR')

dfValuesPerDay

,PROVINCIA,MUNICIPIO,ESTACION,PUNTO_MUESTREO,MAGNITUD,ANO,MES,DIA,VALOR
0,28,79,4,28079004_1_38,1,2016,1,D01,8.0
1,28,79,4,28079004_1_38,1,2016,2,D01,12.0
2,28,79,4,28079004_1_38,1,2016,3,D01,11.0
3,28,79,4,28079004_1_38,1,2016,4,D01,8.0
4,28,79,4,28079004_1_38,1,2016,5,D01,7.0
...,...,...,...,...,...,...,...,...,...
225241,28,79,60,28079060_14_6,14,2019,8,D31,98.0
225242,28,79,60,28079060_14_6,14,2019,9,D31,0.0
225243,28,79,60,28079060_14_6,14,2019,10,D31,47.0
225244,28,79,60,28079060_14_6,14,2019,11,D31,0.0
225245,28,79,60,28079060_14_6,14,2019,12,D31,4.0

4. Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).

In [83]:
conversionDic = {'D01': 1, "D02": 2,"D03": 3,"D04": 4,"D05": 5,"D06": 6,"D07": 7,"D08": 8,
                 "D09": 9,"D10": 10,"D11": 11,"D12": 12,"D13": 13,"D14": 14,"D15": 15,"D16": 16,"D17": 17,"D18": 18,"D19": 19,"D20": 20,
                 "D21":21,"D22": 22,"D23": 23,"D24": 24,"D25": 25,"D26": 26,"D27": 27,"D28": 28,"D29": 29,"D30": 30,"D31": 31}


dfDate = pd.DataFrame.copy(dfValuesPerDay)

# replace() -> Itera por el DataFrame donde busca la Key y reemplaza por el valor.

'''
ALTERNATIVAS
    A. dfDate = dfDate.replace(diccionario)
    B. dfDate.replace(diccionario, inplace=True)
'''
dfDate.replace(conversionDic, inplace=True)

# Explicar despues.
fechas = pd.DataFrame([dfDate['ANO'], dfDate['MES'], dfDate['DIA']]).T
fechas.rename(columns={'ANO':'year', 'MES':'month', 'DIA':'day'}, inplace=True)
fechas = pd.to_datetime(fechas, format='%d-%m-%Y', errors='coerce')

dfDate['FECHA'] = fechas
dfDate

,PROVINCIA,MUNICIPIO,ESTACION,PUNTO_MUESTREO,MAGNITUD,ANO,MES,DIA,VALOR,FECHA
0,28,79,4,28079004_1_38,1,2016,1,1,8.0,2016-01-01
1,28,79,4,28079004_1_38,1,2016,2,1,12.0,2016-02-01
2,28,79,4,28079004_1_38,1,2016,3,1,11.0,2016-03-01
3,28,79,4,28079004_1_38,1,2016,4,1,8.0,2016-04-01
4,28,79,4,28079004_1_38,1,2016,5,1,7.0,2016-05-01
...,...,...,...,...,...,...,...,...,...,...
225241,28,79,60,28079060_14_6,14,2019,8,31,98.0,2019-08-31
225242,28,79,60,28079060_14_6,14,2019,9,31,0.0,NaT
225243,28,79,60,28079060_14_6,14,2019,10,31,47.0,2019-10-31
225244,28,79,60,28079060_14_6,14,2019,11,31,0.0,NaT
225245,28,79,60,28079060_14_6,14,2019,12,31,4.0,2019-12-31

5. Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.

In [84]:
# dropna(): Itera en todo el DF y donde encuentra un NaN/NaT, elimina la fila. 

dfDate1 = dfDate.dropna()

'''
dfDate[dfDate.FECHA.notnull()]  -> Verificacion que hicimos para chequear coincidencia de filas.
'''

'''
sort_values() -> Pasas las columnas en el orden que quiere ordenar.
    ascending=True  ->  Menor a Mayor.
'''
dfDate1.sort_values(["ESTACION","MAGNITUD","FECHA","VALOR"], ascending=True, inplace=True)

# .loc[filas que quiero, columnas que quiero]
# ":" -> Me toma TODAS las filas
dfDate1 = dfDate1.loc[:, ["ESTACION", "MAGNITUD", "FECHA", "PROVINCIA", "MUNICIPIO", "PUNTO_MUESTREO", "VALOR"]]

'''
reset_index(): Me reemplaza los indices viejos por nuevos ordenadas de menor a mayor.
    drop=False: Por defecto esta en False, inserta una nueva columna con el indice viejo.
'''
dfDate1.reset_index(drop=True, inplace=True)
dfDate1

,ESTACION,MAGNITUD,FECHA,PROVINCIA,MUNICIPIO,PUNTO_MUESTREO,VALOR
0,4,1,2016-01-01,28,79,28079004_1_38,8.0
1,4,1,2016-01-02,28,79,28079004_1_38,7.0
2,4,1,2016-01-03,28,79,28079004_1_38,6.0
3,4,1,2016-01-04,28,79,28079004_1_38,6.0
4,4,1,2016-01-05,28,79,28079004_1_38,7.0
...,...,...,...,...,...,...,...
221153,60,14,2019-12-27,28,79,28079060_14_6,17.0
221154,60,14,2019-12-28,28,79,28079060_14_6,13.0
221155,60,14,2019-12-29,28,79,28079060_14_6,14.0
221156,60,14,2019-12-30,28,79,28079060_14_6,5.0
221157,60,14,2019-12-31,28,79,28079060_14_6,4.0

6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DF

In [85]:

listaNumerosEstaciones = [] #Para almacenar los códigos de las estaciones
listaNombresEstaciones = [] #Para almacenar los nombres de las estaciones

listaNumerosMagnitudes = [] #Para almacenar los códigos de los contaminantes
listaNombresMagnitudes = [] #Para almacenar los nombres de los contaminantes

estaciones = {1: "P. Recoletos", 2: "Glta. de Carlos V", 35: "Plaza del Carmen", 4: "Pza. de España", 39: "Barrio del pilar",
6: "Pza. Dr. Marañon", 7: "Pza. M. de Salamanca", 8: "Escuelas aguirre", 9: "Pza. Luca de Tena", 38: "Cuatro caminos",
11: "Av. Ramon y Cajal", 12: "Pza. Manuel Becerra", 40: "Vallecas", 14: "Pza. Fdez. Ladreda", 15: "Pza. Castilla", 16: "Arturo Soria",
17: "Villaverde Alto", 18: "Calle Farolito", 19: "Huerta Castañeda", 36: "Morataz", 21: "Pza. Cristo Rey", 22: "P°. Fontones", 23: "Final C/ Alcala",
24: "Casa de campo", 25: "Santa Eugenia", 26: "Urb. Embajada (Barajas)", 27: "Barajas", 47: "Mendez Alvaro", 48: "P°. Castellana",
49: "Retiro", 50: "Pza. Castilla", 54: "Ensanche Vallecas", 55: "Urb. Embajada (Barajas)", 56: "Plaza Eliptica", 57: "Sanchincharro", 
58: "El Pardo", 59: "Parque Juan Carlos 1°", 60: "Tres Olivos"} #Diccionario de estaciones, cada una asignada a su código

contaminantes = {1: "Dioxido de Azufre", 6: "Monoxido de Carbono", 7: "Monoxido de Nitrogeno", 8: "Dioxido de Nitrogeno", 9: "Particulas < 2.5 um",
10: "Particulas < 10 um", 12: "Oxidos de Nitrogeno", 14: "Ozono", 20: "Tolueno", 30: "Benceno", 35: "Etilbenceno", 37: "Metaxileno", 38: "Paraxileno",
39: "Ortoxileno", 42: "Hidrocarburos totales(hexano)", 43: "Metano", 44: "Hidrocarburos no metánicos (hexano)"} 
#Diccionario de contaminantes, cada una asignada a su código


def mostrarEstaciones(estaciones):
    print('Estaciones disponibles: ')
    for estacion in estaciones:
        print('\t-', estacion)

def mostrarMagnitudes(magnitudes):
    print('Magnitudes disponibles: ')
    for magnitud in magnitudes:
        print('\t-', magnitud)

def obtenerListaDeNumeros(dataframe, columna, listaNumeros):
    '''
    La funcion "obtenerListaDeNumeros", segun el Dataframe y el N° de columna que le pasemos como parámetro, nos da TODOS los datos de esa columna
    (va recorriendo fila a fila hasta el fin del Dataframe) almacenandolos en una lista que tambien le pasamos por parámetro. En este caso, nos sirven
    las columnas 2 y 3 (la columna 2 es la de las estaciones y la 3 la de los contaminantes). (Nos almacena los códigos de las estaciones/contaminantes en una lista).
    '''
    for i in range(0, len(dataframe)):
        listaNumeros.append(dataframe.iloc[i, columna])




def obtenerListaDeNombres(listaNumeros, listaNombres, diccionario):
    '''
    A la funcion "obtenerListaDeNombres" le pasamos como parámetro la lista de códigos, una lista vacía donde almacenaremos los nombres 
    de las estaciones/contaminantes y el diccionario de estaciones/contaminantes (definidos arriba). 
    Lo que hace es ir agregando a la lista de nombres el nombre con el que matchee el contenido de la posicion "i" de la lista en el diccionario. 
    Por ejemplo, si i = 0, tenemos listaNombres.append(contaminantes[listaNumerosContaminantes[0]]), y en la posicion 0 de la lista de numeros
    esta el código 1, vamos al diccionario contaminantes y buscamos qué nombre de contaminante está asociado al código 1, y lo agrega a la lista, y sigue recorriendo
    la lista de numeros hasta que llegue al final de esta lista (no quedan más codigos por asignar).
    '''
    for i in range(0, len(listaNumeros)):
        listaNombres.append(diccionario[listaNumeros[i]])



def eliminarValoresRepetidos(lista):
    '''
    Por último, como en la lista de nombres nos van a quedar muchos nombres repetidos, los tenemos que eliminar. Entonces le pasamos a esta funcion
    la lista de nombres como parámetro, y con ella se crea una nueva lista a partir de un diccionario que tendrá como KEYS a los nombres de esta lista. 
    La característica de los diccionarios es que no puede haber keys idénticas, por lo que aquellas que estén repetidas las elimina (y luego se crea una lista con 
    estas keys). Como resultado, nos printea la lista obtenida con los nombres de los estaciones/contaminantes que hay en el Dataframe sin repetir.
    '''
    return list(dict.fromkeys(lista))




obtenerListaDeNumeros(dfPrincipal, 2, listaNumerosEstaciones)
# Prueba para ver la lista de numeros luego de aplicar obtenerListaDeNumeros -> print(listaNumerosEstaciones)
obtenerListaDeNombres(listaNumerosEstaciones, listaNombresEstaciones, estaciones)
# Prueba para ver la lista de nombres (incluidos los repetidos) luego de aplicar obtenerListaDeNombres -> print(listaNombresEstaciones) 
listaEstacionesActualizada = eliminarValoresRepetidos(listaNombresEstaciones) # -> Ya nos devuelve el resultado final

obtenerListaDeNumeros(dfPrincipal, 3, listaNumerosMagnitudes)
# Prueba para ver la lista de numeros luego de aplicar obtenerListaDeNumeros -> print(listaNumerosEstaciones)
obtenerListaDeNombres(listaNumerosMagnitudes, listaNombresMagnitudes, contaminantes)
# Prueba para ver la lista de nombres (incluidos los repetidos) luego de aplicar obtenerListaDeNombres  -> print(listaNombresEstaciones)
listaMagnitudesActualizada = eliminarValoresRepetidos(listaNombresMagnitudes) # -> Ya nos devuelve el resultado final


mostrarEstaciones(listaEstacionesActualizada)
mostrarMagnitudes(listaMagnitudesActualizada)

Estaciones disponibles:
	- Pza. de España
	- Escuelas aguirre
	- Av. Ramon y Cajal
	- Arturo Soria
	- Villaverde Alto
	- Calle Farolito
	- Casa de campo
	- Barajas
	- Plaza del Carmen
	- Morataz
	- Cuatro caminos
	- Barrio del pilar
	- Vallecas
	- Mendez Alvaro
	- P°. Castellana
	- Retiro
	- Pza. Castilla
	- Ensanche Vallecas
	- Urb. Embajada (Barajas)
	- Plaza Eliptica
	- Sanchincharro
	- El Pardo
	- Parque Juan Carlos 1°
	- Tres Olivos
Magnitudes disponibles:
	- Dioxido de Azufre
	- Monoxido de Carbono
	- Monoxido de Nitrogeno
	- Dioxido de Nitrogeno
	- Oxidos de Nitrogeno
	- Particulas < 2.5 um
	- Particulas < 10 um
	- Ozono
	- Tolueno
	- Benceno
	- Etilbenceno
	- Hidrocarburos totales(hexano)
	- Metano
	- Hidrocarburos no metánicos (hexano)

7. Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.

In [86]:
# .loc[filas que quiero, columnas que quiero]
# ":" -> Me toma TODAS las filas
dDescripcion = dfDate1.loc[:, ["MAGNITUD","VALOR"]]

# groupby(): Agrupa valores que coinciden. Devuelve  un objeto, si o si tenes que pasarle alguna funcion.
dDescripcion.groupby("MAGNITUD").describe()

            VALOR
            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

8. Mostrar un resumen descriptivo para cada contaminente por distritos.

In [87]:
dDescripcion = dfDate1.loc[:, ["MAGNITUD","VALOR","ESTACION"]]

dDescripcion.groupby(["MAGNITUD", "ESTACION"]).describe()

                    VALOR                                                \
                    count      mean        std   min   25%   50%    75%
MAGNITUD ESTACION
1        4         1461.0  7.329911  16.379050  1.00  4.00  7.00   9.00
         8         1461.0  8.375770   4.364607  0.00  5.00  8.00  11.00
         17        1461.0  8.137577   7.523450  1.00  4.00  8.00  11.00
         18        1461.0  6.655715   3.995702  0.00  4.00  6.00   9.00
         24        1461.0  3.619439   1.479635  0.00  3.00  4.00   4.00
...                   ...       ...        ...   ...   ...   ...    ...
43       24        1461.0  1.169514   0.139236 -0.08  1.14  1.18   1.22
         55        1461.0  1.246242   0.207635 -0.14  1.14  1.27   1.36
44       8         1461.0  0.115688   0.072236  0.00  0.07  0.11   0.14
         24        1461.0  0.070520   0.034688  0.00  0.05  0.06   0.09
         55        1461.0  0.140616   0.072450  0.00  0.09  0.13   0.17


                      max
MAGNITUD ESTACION
1        4         610.00
         8          24.00
         17        234.00
         18         20.00
         24         33.00
...                   ...
43       24          1.97
         55          1.78
44       8           1.31
         24          0.44
         55          0.75

[153 rows x 8 columns]

9. Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie
con las emisiones del contaminante dado en la estación y rango de fechas dado.

In [118]:
from datetime import date

def filterByEstacionyFecha(estacion,magnitud,fecha1,fecha2):
    #creamos una funcion para filtrar por : Estación,magnitud y un rango de fechas ( desde: fecha1 , hasta: fecha2)
    if (fecha1<fecha2):
        dfFiltrado=(dfDate1[(dfDate1["ESTACION"]==estacion) &( dfDate1["MAGNITUD"]==magnitud) &( dfDate1["FECHA"]>=fecha1) & (dfDate1         ["FECHA"]<=fecha2)])
        dfFiltrado.reset_index(drop=True, inplace=True)
        return dfFiltrado
    else:
        print("la segunda fecha no puede ser mayor a la primera")

def validarEstacion():
    #validamos que el dato sea entero
    while True:
        try:  
            _estacion=int(input("ingrese la estacion"))
            if(_estacion!=" "):
                break
        except ValueError:
            print("debe ingresar numeros")
    return _estacion

def validarMagnitud():
    while True:
        try:
            _magnitud=int(input("ingrese la magnitud"))
            if(_magnitud!=" "):
                break
        except ValueError:
            print("debe ingresar numeros")
    return _magnitud

##llamada a la funcion

valorEstacion=validarEstacion()
valorMagnitud=validarMagnitud()
dfFiltrado=filterByEstacionyFecha(valorEstacion,valorMagnitud,"2017-02-10","2018-03-02")
dfFiltrado

debe ingresar numeros

     ESTACION  MAGNITUD      FECHA  PROVINCIA  MUNICIPIO PUNTO_MUESTREO  VALOR
0          38         1 2017-02-10         28         79  28079038_1_38    6.0
1          38         1 2017-02-11         28         79  28079038_1_38    4.0
2          38         1 2017-02-12         28         79  28079038_1_38    4.0
3          38         1 2017-02-13         28         79  28079038_1_38    3.0
4          38         1 2017-02-14         28         79  28079038_1_38    5.0
..        ...       ...        ...        ...        ...            ...    ...
381        38         1 2018-02-26         28         79  28079038_1_38    9.0
382        38         1 2018-02-27         28         79  28079038_1_38    5.0
383        38         1 2018-02-28         28         79  28079038_1_38    3.0
384        38         1 2018-03-01         28         79  28079038_1_38    3.0
385        38         1 2018-03-02         28         79  28079038_1_38    3.0

[386 rows x 7 columns]

10.Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales
de los distintos tipos de contaminantes.

In [ ]:
"""
def filtrarPorEstacion(estacion,dfPrincipal):
"""